<aside class="app-sidebar bg-body-tertiary shadow font-large" data-bs-theme="light">
  <!--begin::Sidebar Brand-->
  <div class="sidebar-brand bg-primary-color">
    <!--begin::Brand Link-->
    <a class="brand-link bg-primary-color">
      <!--begin::Brand Image-->
      <img
        src="assets/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image opacity-75 shadow"
      />
      <!--end::Brand Image-->
      <!--begin::Brand Text-->
      <span class="brand-text fw-light text-white">HEMATRACE</span>
      <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
  </div>
  <!--end::Sidebar Brand-->
  
  <!--begin::Sidebar Wrapper-->
  <div class="sidebar-wrapper" data-overlayscrollbars="host">
    <div data-overlayscrollbars-viewport="scrollbarHidden overflowXHidden overflowYScroll"
        overlay-scrollbars [options]= "{scrollbars: {autoHide: 'leave'}}" [defer]= "true">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="navigation"
          aria-label="Main navigation"
          data-accordion="false"
          id="navigation"
        >
          @for (item of filteredMenuItems(); track $index) {

            @if (item?.isHeader) {
              <li class="nav-header">{{ item?.label }}</li>
            } @else {
              @let isActive = activeMenu() === item?.label;

              <li class="nav-item" [ngClass]="{'menu-open': isActive}">
                
                <!-- Item avec sous-menu -->
                @if (item?.subMenu) {
                  <a class="nav-link" (click)="toggleMenu(item?.label)">
                    <i class="nav-icon" [ngClass]="item?.icon"></i>
                    <p>
                      {{ item?.label }}
                      <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                  </a>

                  @if (isActive) {
                    <ul class="nav nav-treeview">
                      @for (sub of item.subMenu; track $index) {
                        @if (hasPermissionForRoute(sub.route)) {
                          <li class="nav-item">
                            <a class="nav-link" [routerLink]="[sub.route]" routerLinkActive="active">
                              <i class="nav-icon" [ngClass]="sub.icon || 'bi bi-circle'"></i>
                              <p>{{ sub.label }}</p>
                            </a>
                          </li>
                        }
                      }
                    </ul>
                  }
                }

                <!-- Item simple (pas de sous-menu) -->
                @else {
                  <a class="nav-link" [routerLink]="[item?.route]" routerLinkActive="active">
                    <i class="nav-icon" [ngClass]="item?.icon"></i>
                    <p>{{ item?.label }}</p>
                  </a>
                }

              </li>
            }
          }
        </ul>
        <!--end::Sidebar Menu-->
      </nav>  
    </div>
  </div>
  <!--end::Sidebar Wrapper-->
</aside>